<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Morning Tab</title>
  <link rel="stylesheet" href="style/reset.css">
  <link rel="stylesheet" href="style/main.css">
</head>
<body>
  <div id="vue-root">
    <!-- 顶部：随机一言 -->
    <div class="topic">
      <p class="tips" :title="hitokoto.text || 'Hello Dreamers'">{{ hitokoto.text || 'Hello Dreamers' }}</p>
      <p class="author">{{ authorInfo || '' }}</p>
    </div>
    <!-- 搜索 -->
    <div class="search">
      <input class="input" type="text" v-model="keyword" placeholder="愿：问题一搜就有，疑惑即刻解决！" tabindex="1">
      <div class="btns">
        <span class="g-bgoogle" @click="search('google')" tabindex="2">「F1」Google</span>
        <span class="g-bbing" @click="search('bing')" tabindex="3">「F2」Bing</span>
        <span class="g-bbaidu" @click="search('baidu')" tabindex="4">「F3」百度一下</span>
        <span class="g-bstack" @click="search('stack')" tabindex="5">「F4」Stack overflow</span>
      </div>
    </div>

    <!-- 搜索历史 -->
    <div class="history" v-if="historySetting && history.length > 0">
      <div class="box">
        <span class="clear-all" @click="handleHistoryClose()">全部清除</span>
        <div class="box-list" :class="historyMore ? 'unfold' : 'fold'" id="history-list">
          <div class="box-list-item" v-for="(index, item) of history" :key="item">
            <span @click="handleHistoryClick(item)">{{ item }}</span>
            <img class="icon-close" src="./imgs/icon-close.svg" alt="" @click="handleHistoryClose(item)">
          </div>
        </div>
        <img class="icon-more" :src="historyMore ? './imgs/icon-more-fold.svg' : './imgs/icon-more.svg'" alt="" @click="toggleHistoryMore">
      </div>
    </div>

    <!-- 热搜 -->
    <div class="fish" v-if="showHot && mode === 'fish'">
      <div class="box" v-for="(index, item) of hot" :key="index">
        <div class="box-header">
          <img class="logo" :src="item.logo" alt="weibo">
          <p class="title">{{ item.name }}<span>({{ item.time || '未知' }})</span></p>
          <i class="refresh" @click="getHotItem(item.id, index)"></i>
        </div>
        <ul class="box-list">
          <li v-for="(iindex, iitem) of item.data" :key="iitem">
            <a :href="iitem.link" :title="iitem.title" target="_blank">
              <span :style="{ color: iindex < 3 ? hotColor[iindex] : hotColor[4] }">{{ iindex + 1 }}. </span>
              <span>{{ iitem.title }}</span>
              <span v-if="iitem.num">{{ iitem.num }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- 程序导航 -->
    <div class="coder" v-if="mode === 'coder'">
      <div class="box" v-for="(index, item) of coder" :key="index">
        <div class="box-header">
          <p class="title">{{ item.title }}</p>
        </div>
        <div class="box-list">
          <div class="box-list-item" v-for="(iindex, iitem) of item.list" :key="iitem" :title="iitem.desc">
            <a :href="iitem.link" target="_blank">
              <div class="left">
                <img class="icon" :src="iitem.icon || appDefaultIcon" alt="">
              </div>
              <div class="right">
                {{ iitem.name }}
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- 菜单 -->
    <div class="menu">
      <span
        v-for="item of MODES"
        :class="mode === item.mode ? 'active' : ''"
        :title="item.tips"
        :key="item.mode"
        @click="switchMode(item.mode)"
      >
        <i>{{ item.label }}</i>
      </span>
      <span
        class="menu-history"
        :class="historySetting ? 'active' : ''"
        title="🐾 Show search history"
        @click="switchHistory"
      >
        <i>H</i>
      </span>
    </div>
    <!-- 关于 -->
    <div class="about">
      <a class="github" href="https://github.com/Chef5/Morning-Tab" title="Github" target="_blank">
        <i></i>
      </a>
    </div>
  </div>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.csp.min.js"></script>
  <script src="js/main.js" type="module"></script>
</body>
</html>